@{
    ViewBag.Title = "Home Page";
}
<head>
    <script src="https://www.google.com/recaptcha/enterprise.js"></script>
</head>
<body>
    <div class="g-recaptcha"
         data-sitekey="@TempData["sitekey"]"
         data-action='@TempData["recaptchaAction"]'
         data-callback='test_recaptcha'>
    </div>
</body>
<script>
    function test_recaptcha(token) {
        $.get(`/Home/CreateAssessment?token=${token}&recaptchaSiteKey=@TempData["sitekey"]&recaptchaAction=@TempData["recaptchaAction"]`)
            .then((res) => alert(res));
    }
</script>
